/* variables for color palet throughout styling */
:root {
    --light: #dadccd;
    --pink: hsl(330, 7%, 12%);
    --dark: #76847b;
    --medium: #a898a9;
  }

  /* Name in left corner for header */
.broadt {
    background-color:var(--dark);
    color: var(--light);
    font-size:45px ;
    text-align: start;
    }
    /* clickable links in nav bar */
    .header nav {
        display: flex;
       padding-bottom: 15px;
        margin-right: 20px; 
        align-items: flex-end;
        font-family:BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica;
        font-size: 18px;
    }
    main {
        display:flex; 
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    /* image placement */
    .about-me-img{
width: 30rem;
    }
    /* image placement */
    .about-me-img img {
        width:100% ;
    }
    .about-me-content {
        padding: 3rem;
        display:flex;
        flex-wrap: wrap;
        flex-direction: row;  
    }
    .about-me-content p{
        padding: 3rem;
        max-width: 70rem; ;
    }
    /* Styling for all anchors */
    a {
        color: var(--dark);
        padding-left: 20px;
        text-decoration: underline;
        font-size: 30px;
    }
    .header nav ul  {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
 
    }
  body {
    font-size: 1.75rem;
    line-height: 1.5;
    color: var(--dark);
    background-color: var(--light);

  }
  h3 {
    font-size: 50px;
    text-decoration:overline;
    color: var(--medium)
  }
  h1 {
    font-size: 4rem;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    padding: 10rem ;
  }
  
/* Header Styling, header box */
.header {
    display: flex;
    justify-content: flex-end;
   font-size: 20px;
    font-family:BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica;
    background-color:var(--light);

}

/* top of poge image */
.Background{
    height: 150px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("/assets/images/backround for portfolio.jpg");
    background-position: center;
}
/* header 2 in image font styling  */
h2{
    text-align: right;
    
color:var(--light);
}
h4 { 
    color:var(--medium);
 }
footer{
    display: flex;
    justify-content: center;
   font-size: 30px;
}


  @media screen and (max-width: 992px) {
    .card {
      width: 50%;}
    }
    @media screen and (max-width: 768px) {
        .card {
          width: 100%;}
        }